/* ini file css */

body {
    font-family: monospace;
}

main {
    max-width: 750px;
    justify-self: center;

    /* Background Matters */
    background-color: lightgray;
    border-radius: 8px;
}

.main-header {
    text-align: center;
}

section{
    padding: 8px;
}

.input-group {
    display: flex;

    flex-direction: column;
}

.button-group {
    margin-top: 16px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
    background-color: lightblue;
  }

  button {
    background-color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
  }

  .bt-konversi:hover {
    background-color: lightgreen;
  }

  .bt-reset:hover {
    background-color: rgb(255, 255, 147);
  }

  .bt-reverse:hover {
    background-color: lightcoral;
  }

  .remark {
    font-weight: bold;
    font-size: large;
  }

  footer {
    text-align: center;
    background-color: black;
    color: white;

  }

  /* .watermark {
    color: white;
  } */